<div class="main">
  <div class="inner">
    <div class="form__wrapper">
      <h2 class="page-heading">My晩酌</h2>
        <%= render partial: "form", locals: { bansyaku: @bansyaku } %>
    </div>
  </div>
</div>